@use "colors-variables" as *;

.container {
  display: grid;
  margin-top: 10px;
  width: 100%;
  row-gap: 25px;
  grid-template-columns: 1fr 1300px 1fr;
  grid-template-areas:
    ". levelChoose  ."
    ".  canvas  gameInfo";
}

.canvasBox {
  grid-area: canvas;
  align-self: start;
  justify-self: center;

  background-image: url("/assets/images/texture_background.jpg");
  background-size: 13%;
  height: 720px;
  width: 1280px;
  // border: 1px $color-text solid;
  border-radius: 5px;
}
